/* Smooth scroll stuff */
html {
  overflow-x: hidden;
  overflow-y: scroll;
}    

.js-cont {
  position: relative;
  width: 100%;
  height: 100%;
}

.js-scroll {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  will-change: transform;
}

.hero {
  color: #fff;

  &-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(37, 37, 37, 0.33), rgba(37, 37, 37, 0.33)), url("../img/hero.jpg") center no-repeat;
    background-size: cover;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  &__title {
    opacity: 1;
    max-width: 630px;
    width: 100%;
    font-size: 72px;
    line-height: 92px;
    text-align: center;
    text-transform: uppercase;

    .title-wrap {
      margin: 0;
      width: 630px;
      height: 92px;
      position: relative;
      overflow: hidden;

      &-item {
        position: absolute;
        left: 0;
        top: 3px;
        width: 100%;
        font-size: 72px;
        line-height: 92px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  &__float-image {
    opacity: 1;
    position: absolute;
    bottom: 340px;
    right: 0;
    max-width: 396px;
    width: 100%;
    max-height: 396px;
    height: 100%;
    transform: translateY(170%);
    object-fit: cover;
    object-position: 0 100%;
  }
}

/* info-slider */
.info-slider {
  padding: 130px 0 80px 0;
  background: #F2F2F2;
  overflow: hidden;

  .container {
    display: block;
  }

  &__title {
    opacity: 1;
    margin-bottom: 50px;
    max-width: 560px;
    width: 100%;
    font-size: 64px;
    line-height: 82px;
    color: #000000;
  }

  .swiper-slide {
    width: auto !important;
    display: flex;
    flex-flow: column;
    //margin: 0 30px 0 0;
  }

  .swiper-wrapper {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    margin: 55px auto 0 auto;
  }

  .section-row {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__btn {
    opacity: 1;
    margin-top: 70px;
    cursor: none;
  }
}
/* end info-slider */

/* blog */
.blog {
  padding: 80px 0;
  height: 100%;

  .container {
    flex-direction: column;
  }

  .section-row {
    margin-right: -120px;
    display: flex;
    align-items: flex-start;

    & > * {
      width: 50% !important;
    }
  }

  &__image {
    margin: 0 20px 20px 0;
    max-width: 710px;
    width: 100%;

    &.img-1 {
      max-width: 710px;
      min-height: 732px;

      .blog__image--item {
        width: 100%;
        height: 732px;
        object-fit: cover;
      }
    }

    &.img-2 {
      max-width: 710px;
      width: 100%;
      min-height: 562px;

      .blog__image--item {
        width: 100%;
        height: 562px;
        object-fit: cover;
      }
    }

    &.img-3 {
      margin-right: 0;
      max-width: 710px;
      width: 100%;
      min-height: 732px;

      .blog__image--item {
        width: 100%;
        height: 732px;
        object-fit: cover;
      }
    }
  }

  .blog-text {
    padding: 0 120px 0 60px;
    min-height: 732px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__title {
      font-size: 36px;
      line-height: 56px;
      margin-bottom: 35px;
    }

    &__description {
      font-size: 20px;
      line-height: 41px;
      margin-bottom: 35px;
    }
  }

  .btn--black {
    display: inline-block;
  }
}
/* end blog */

// info-text
.info-text {
  padding: 100px 0 300px;

  &__title {
    font-size: 36px;
    line-height: 56px;
    color: #000000;
  }

  &__description {
    font-size: 36px;
    line-height: 56px;
    color: #000000;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  & > * {
    text-align: center;
  }
}
// end info-text

// blog2
.blog2 {
  padding: 140px 0;
  background: #F2F2F2;

  .container {
    flex-direction: column;
  }

  .section-row {
    margin-right: -120px;
    display: flex;
    align-items: flex-start;

    & > * {
      width: 50% !important;
    }
  }

  .blog-text {
    padding: 0 120px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .blog2-text__title {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 35px;
  }

  .blog2-text__description {
    font-size: 20px;
    line-height: 41px;
    margin-bottom: 35px;
  }

  &-img {
    max-width: 530px;
    min-height: 600px;
    width: 100%;

    .item {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .btn--black {
    display: inline-block;
  }
}
// end blog2
