
<section class="info-slider trigger2">
    <div class="container">
        <h2 class="info-slider__title hoverable">
            A BLESSING OF WATER FOR EVERY SKIN
        </h2>
        <div id="skin" class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide hoverable">
                    <picture lazyload="on">
                        <source type="image/webp" srcset="img/slider-01.webp">
                        <source type="image/jpeg" srcset="img/slider-01.jpg">
                        <img src="img/slider-01.jpg" alt="photo">
                    </picture>
                </div>
                <div class="swiper-slide hoverable">
                    <picture lazyload="on">
                        <source type="image/webp" srcset="img/slider-02.webp">
                        <source type="image/jpeg" srcset="img/slider-02.jpg">
                        <img src="img/slider-02.jpg" alt="photo">
                    </picture>
                </div>
                <div class="swiper-slide hoverable">
                    <picture lazyload="on">
                        <source type="image/webp" srcset="img/slider-01.webp">
                        <source type="image/jpeg" srcset="img/slider-01.jpg">
                        <img src="img/slider-01.jpg" alt="photo">
                    </picture>
                </div>
                <div class="swiper-slide hoverable">
                    <picture lazyload="on">
                        <source type="image/webp" srcset="img/slider-02.webp">
                        <source type="image/jpeg" srcset="img/slider-02.jpg">
                        <img src="img/slider-02.jpg" alt="photo">
                    </picture>
                </div>
                <div class="swiper-slide hoverable">
                    <picture lazyload="on">
                        <source type="image/webp" srcset="img/slider-01.webp">
                        <source type="image/jpeg" srcset="img/slider-01.jpg">
                        <img src="img/slider-01.jpg" alt="photo">
                    </picture>
                </div>
                <div class="swiper-slide hoverable">
                    <picture lazyload="on">
                        <source type="image/webp" srcset="img/slider-02.webp">
                        <source type="image/jpeg" srcset="img/slider-02.jpg">
                        <img src="img/slider-02.jpg" alt="photo">
                    </picture>
                </div>

            </div>
        </div>
        <div class="section-row">
            <a href="#" class="btn--black info-slider__btn hoverable">Read more</a>
        </div>
    </div>
</section>
<section class="blog blog1 trigger3">
    <div class="container">
        <div class="section-row">
            <picture class="blog__image img-1 hoverable" lazyload="on">
                <source type="image/webp" srcset="img/blog-01.webp" class="blog__image--item">
                <source type="image/jpg" srcset="img/blog-01.jpg" class="blog__image--item">
                <img src="img/blog-01.jpg" alt="photo" class="blog__image--item">
            </picture>
            <div class="blog-text">
                <h2 class="blog-text__title hoverable">
                    DESCRIPTION
                </h2>
                <p class="blog-text__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Magna sed arcu at tincidunt elementum a. Ac augue
                    pellentesque a at. In at vulputate nulla tempor sed mattis.
                    Dolor erat hendrerit nisl feugiat integer neque amet. Ut
                    molestie dui mollis aliquet sem. Sit erat volutpat pretium
                    convallis eget semper fermentum accumsan sed. Egestas nec
                    rutrum urna ornare nibh suspendisse est, sed.
                </p>
                <div class="">
                    <a href="#" class="btn--black blog__btn hoverable">Read more</a>
                </div>
            </div>
        </div>
        <div class="section-row">
            <picture class="blog__image img-2 hoverable" lazyload="on">
                <source type="image/webp" srcset="img/blog-02.webp" class="blog__image--item">
                <source type="image/jpg" srcset="img/blog-02.jpg" class="blog__image--item">
                <img src="img/blog-02.jpg" alt="photo" class="blog__image--item">
            </picture>
            <picture class="blog__image img-3 hoverable" lazyload="on">
                <source type="img/webp" srcset="static/blog-01.webp" class="blog__image--item">
                <source type="img/jpg" srcset="static/blog-01.jpg" class="blog__image--item">
                <img src="img/blog-01.jpg" alt="photo" class="blog__image--item">
            </picture>
        </div>
    </div>
</section>
<section class="info-text trigger4">
    <div class="container">
        <h2 class="info-text__title">
            DESCRIPTION
        </h2>
        <p class="info-text__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna sed arcu at tincidunt
            elementum a. Ac augue pellentesque a at. In at vulputate nulla tempor sed mattis.
            Dolor erat hendrerit nisl feugiat integer neque amet. Ut molestie dui mollis aliquet
            sem. Sit erat volutpat pretium convallis eget semper fermentum accumsan sed. Egestas
            nec rutrum urna ornare nibh suspendisse est, sed.
        </p>
    </div>
</section>
<section class="blog2 trigger5">
    <div class="container">
        <div class="section-row">
            <picture class="blog2-img hoverable" lazyload="on">
                <source type="image/webp" srcset="img/blog2-01.webp" class="item">
                <source type="image/jpg" srcset="img/blog2-01.jpg" class="item">
                <img src="img/blog2-01.jpg" alt="photo" class="item">
            </picture>
            <div class="blog-text">
                <h2 class="blog2-text__title">
                    DESCRIPTION
                </h2>
                <p class="blog2-text__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Magna sed arcu at tincidunt elementum a. Ac augue
                    pellentesque a at. In at vulputate nulla tempor sed mattis.
                    Dolor erat hendrerit nisl feugiat integer neque amet. Ut
                    molestie dui mollis aliquet sem. Sit erat volutpat pretium
                    convallis eget semper fermentum accumsan sed. Egestas nec
                    rutrum urna ornare nibh suspendisse est, sed.
                </p>
                <div class="">
                    <a href="#" class="btn--black blog2-btn">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>