<header>
    <div class="container">
        <a class="logo hoverable" href="/">
            <img src="img/logo.svg" alt="logo">
        </a>
        <button class="hamburger hamburger--spin hoverable" id="hamburger">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <ul class="nav">
            <li>
                <a href="/" class="hoverable">SHOP</a>
            </li>
            <li>
                <a href="/" class="hoverable">ABOUT</a>
            </li>
            <li>
                <a href="/" class="hoverable">CONTACT</a>
            </li>
        </ul>
    </div>
</header>