<section class="hero trigger1">
    {{!-- <div class="hero-empty-container"></div> --}}
    <div class="hero-box">
        <div class="container hero-box-container">
            <div class="hero__title hoverable">
                <h1 class="title-wrap">
                    <span class="title-wrap-item">A BLESSING OF WATER</span>
                </h1>
                <h2 class="title-wrap">
                    <span class="title-wrap-item">FOR EVERY SKIN</span>
                </h2>
            </div>
            <picture>
                <source type="image/webp" srcset="img/hero-float.webp" class="hero__float-image" lazyload="on">
                <source type="image/jpeg" srcset="img/hero-float.jpg" class="hero__float-image" lazyload="on">
                <img src="img/hero-float.jpg" class="hero__float-image" alt="photo" lazyload="on">
            </picture>
        </div>
    </div>
</section>