<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{{htmlWebpackPlugin.options.title}}</title>

    <link rel="canonical" href="http://savitskiy.design/index.html"/>
    <meta name="description" content="GSAP ScrollMagic website with example of animation">

    {{!-- fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    {{> partials/cursor}}
    {{> partials/header title=htmlWebpackPlugin.options.title}}

    <div class="js-cont">
        <div class="js-scroll">
            {{> partials/hero}}
            {{> partials/content}}
            {{> partials/footer}}
        </div>
    </div>

    {{> partials/vendors}}
</body>

</html>